@charset "utf-8";
img { border: 0px; }
.bannerbox { width: 930px; height: 500px;  margin: 0px auto; }
#focus { width: 930px; height: 500px; clear: both; overflow: hidden; position: relative; float: left; }
#focus ul { width: 930px; height: 500px; float: left; position: absolute; clear: both; padding: 0px; margin: 0px; }
#focus ul li { float: left; width: 930px; height: 500px; overflow: hidden; position: relative; padding: 0px; margin: 0px; }
#focus .preNext { width: 465px; height: 500px; position: absolute; top: 0px; cursor: pointer; }
#focus .pre { left: 10px; background:url(../images/prev.png) no-repeat left center; z-index:999}
#focus .next { right:10px; background: url(../images/next.png) no-repeat right center;  z-index:999}
