.inews {
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 80px;
}
h2.tit1 {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  border-bottom: 1px solid #3b2523;
  padding-bottom: 20px;
  font-weight: 100;
  overflow: hidden;
  color: #3b2523;
  margin-bottom: 27px;
  margin-top: 50px;
}
.inewsc {
  width: 100%;
  max-width: 1026px;
  /* padding: 0 20px; */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.inews dl {
  width: 33.3333%;
  padding: 0 10px;
  overflow: hidden;
  display: inline;
  box-sizing: border-box;
}
.inews dl:last-child {
  display: none;
}
.inews dl dt {
  width: 100%;
  height: 0;
  padding-bottom: 129%;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.inews dl dt a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.inews dl dt img {
  width: 100%;
}
.inews dl dd {
  padding: 15px 10px;
  overflow: hidden;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 20px;
  color: #3b2523;
}
.inews dl dd h3 {
  font-size: 15px;
  color: #3b2523;
}
.inews dl dd h3 a {
  color: #3b2523;
}

.ibrandc {
  padding-bottom: 25%;
  height: 0;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}
.ibrandc .tab_content {
  width: 100%;
  height: 0;
  padding-bottom: 25%;
  position: relative;
}
.ibrandc .tab_content a {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.tab_content a img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.ibrand {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.ibrandlist {
  width: 100%;
  /* height: 285px; */
  background: #2d1b15;
  overflow: hidden;
}
.ibrandlistc {
  width: 100%;
  max-width: 990px;
  margin: 0 auto;
  overflow: hidden;
}
.ibrandlistc ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.ibrandlistc ul li {
  float: left;
  width: 20%;
  height: 0;
  padding-bottom: 15%;
  text-align: center;
  vertical-align: middle;
  line-height: 140px;
  position: relative;
}
.ibrandlistc ul li a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ibrandlistc ul li .ibrand_logo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  vertical-align: middle;
  line-height: 140px;
  vertical-align: middle;
}
.ibrandlistc ul li .ibrand_logo span {
  vertical-align: middle;
  display: inline-block;
  height: 100%;
}
.ibrandlistc ul li .ibrand_logo img {
  vertical-align: middle;
  width: 65%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ibrandlistc ul li .ibrand_img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  overflow: hidden;
  display: none;
  vertical-align: middle;
}
.ibrandlistc ul li .ibrand_img img {
  vertical-align: middle;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ibrandlistc ul li a:hover .ibrand_img,
.ibrandlistc ul li.cur .ibrand_img {
  display: block;
}

.about {
    padding: 0 30px 30px;
  overflow: hidden;
}
.aboutimg {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  overflow: hidden;
}
.aboutimg img {
  width: 100%;
}
.aboutck dl {
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
  padding: 0 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.aboutck dl dt {
  float: left;
  width: 230px;
  padding-right: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #3b2523;
  text-transform: uppercase;
  text-align: left;
  line-height: 25px;
}
.aboutck dl dd {
  line-height: 25px;
  font-size: 15px;
  text-align: left;
  color: #3b2523;
  float: right;
  width: calc(100% - 250px);
  max-width: 750px;
}
.aboutck dl dd p {
  padding-bottom: 15px;
}

.news {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 30px;
}

.news_l {
  width: 33.3333%;
  float: left;
  padding-left: 5px;
  padding-right: 50px;
  overflow: hidden;
  box-sizing: border-box;
}
.news_r {
  float: right;
  width: 66.6666%;
  overflow: hidden;
  box-sizing: border-box;
}
.news_l h3 {
  font-size: 15px;
  text-transform: uppercase;
  color: #3b2523;
  margin-bottom: 25px;
  overflow: hidden;
}
.news_l ul li {
  display: block;
  padding-bottom: 35px;
  overflow: hidden;
}
.news_l ul li a {
  color: #a3a3a3;
  font-size: 14px;
  line-height: 20px;
}
.news_l ul li a:hover,
.news_l ul li.cur a {
  color: #3b2523;
}
.news_r h3 {
  margin-bottom: 10px;
  border-left: 7px solid #3b2523;
  font-size: 18px;
  line-height: 25px;
  text-align: left;
  padding-left: 10px;
  padding-right: 100px;
  font-weight: 100;
  font-family: Arial, "微軟正黑體", "Microsoft JhengHei";
  text-transform: uppercase;
  color: #3b2523;
  position: relative;
  z-index: -1;
}
.news_r h3 em {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 12px;
  font-weight: 100;
  color: #3b2523;
}

.article {
  line-height: 20px;
  text-align: left;
  font-size: 13px;
}
.article p {
  padding: 15px 0px;
  overflow: hidden;
  line-height: 1.3;
}
/* .article img {
    max-width: 100%;
    height: auto;
} */
.newsbtm {
  padding: 30px 0px;
  overflow: hidden;
  margin-bottom: 120px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.newsbtm .newsprev {
  float: left;
  width: 45%;
  padding: 5px 20px;
  overflow: hidden;
  color: #fff;
  font-size: 13px;
  line-height: 20px;
  background: #2d1b15;
  box-sizing: border-box;
}
.newsbtm .newsnext {
  float: right;
  width: 45%;
  padding: 5px 20px;
  overflow: hidden;
  color: #fff;
  font-size: 13px;
  line-height: 20px;
  background: #2d1b15;
  box-sizing: border-box;
}
.newsbtm a {
  color: #fff;
}

.contact {
  text-transform: uppercase;
}
.contact dl {
  margin-bottom: 60px;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact dl dt {
  float: left;
  width: 50%;
  height: 60%;
  overflow: hidden;
  border: 1px solid #9d9291;
  text-align: center;
  padding-right: 20px;
  box-sizing: border-box;
}
.contact dl .shoptit {
  font-size: 20px;
  width: 100px;
  color: #3b2523;
  font-weight: 600;
  line-height: 25px;
}
.contact dl .detail {
    width: calc(100% - 100px);
}
.contact dl dd.shopinfo {
  float: right;
  width: 50%;
  box-sizing: border-box;
  padding-left: 20px;
  line-height: 25px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact dl dd.shopinfo p {
  padding-bottom: 30px;
}
.contact_form h3 {
  color: #3b2523;
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 10px;
  overflow: hidden;
}
.contact_form ul li {
  margin-bottom: 15px;
  overflow: hidden;
}
.contact_form ul li .inputx {
  line-height: 30px;
  font-size: 13px;
  overflow: hidden;
  width: 100%;
  background: #f8f8f8;
  margin-bottom: 10px;
  color: #3b2523;
  border: 0px;
  text-indent: 15px;
  font-family: Arial, "微軟正黑體", "Microsoft JhengHei";
  height: 30px;
}
.textareax {
  line-height: 30px;
  font-size: 13px;
  overflow: hidden;
  width: 100%;
  background: #f8f8f8;
  margin-bottom: 10px;
  color: #3b2523;
  border: 0px;
  text-indent: 15px;
  font-family: Arial, "微軟正黑體", "Microsoft JhengHei";
  height: 215px;
  text-transform: uppercase;
}
.resetbtn {
  width: 48%;
  /* height: 35px; */
  /* line-height: 35px; */
  padding: 5px 10px;
  background: #f8f8f8;
  text-align: center;
  color: #3b2523;
  font-size: 15px;
  box-sizing: border-box;
  line-height: 1.5;
}
a:hover.resetbtn,
a.cur.resetbtn {
  color: #fff;
  background: #525252;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.brand {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.brand_l {
  float: left;
  width: 33.3333%;
  overflow: hidden;
}
.brand_r {
  width: 66.6666%;
  overflow: hidden;
  float: right;
}
.brand_rc {
    width: 100%;
}
.brand_rc ul {
    width: 100%;
}
.brand_l h3 {
  font-size: 15px;
  color: #c0271b;
  padding-bottom: 10px;
  overflow: hidden;
}
.brand_l h3 a {
  color: #c0271b;
}
.brand_l h4 {
  font-size: 15px;
  line-height: 25px;
  overflow: hidden;
  color: #c0271b;
}
.brand_l ul li {
  font-size: 15px;
  line-height: 25px;
  text-align: left;
  color: #8a8a8a;
  position: relative;
  cursor: pointer;
}
.brand_l ul li .tclogo {
  width: 193px;
  overflow: hidden;
  background: #2e1b15;
  padding: 10px 15px;
  margin-top: -25px;
  z-index: 99;
  position: relative;
  display: none;
}
.brand_l ul li .tclogo dd {
  font-size: 13px;
  line-height: 25px;
  text-align: left;
}
.brand_l ul li .tclogo h6 {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 10px;
  font-size: 20px;
}
.brand_l ul li .tclogo h6 a:hover {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: none;
  margin-bottom: 10px;
  color: #fff;
}
.brand_l ul li .tclogo dd a {
  color: #fff;
}
.brand_l ul li a {
  color: #8a8a8a;
}
.brand_l ul li a:hover {
  color: #392622;
}
.brand_l ul {
  padding-bottom: 20px;
}

.brand_rtit {
  text-align: left;
  font-size: 13px;
  color: #726766;
  padding-bottom: 15px;
  overflow: hidden;
}
.brand_rtit a {
  color: #726766;
}

.brand_rc ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.brand_rc ul li {
  float: left;
  padding: 5px;
  width: 33.3333%;
  overflow: hidden;
  text-align: center;
  display: inline;
  box-sizing: border-box;
}
.brand_rc ul li a {
  display: block;
  width: 100%;
  float: left;
  overflow: hidden;
}
.brand_rc ul li a span {
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}
.brand_rc ul li a img {
  vertical-align: middle;
  width: 100%;
  height: auto;
}
.brand_rc ul li a:hover {
  background: #f6f6f6;
}
.brand_r .search {
  padding: 10px 0;
  font-size: 15px;
}

.brand_page {
    width: 100%;
  max-width: 930px;
  margin: 0 auto;
  overflow: hidden;
}

.brand_pagec {
  padding: 35px 55px;
  overflow: hidden;
}
.brand_pagec h2 {
  font-size: 18px;
  font-weight: 100;
  padding-bottom: 20px;
  color: #3b2523;
}
.brand_info {
  font-size: 14px;
  line-height: 23px;
  padding-bottom: 20px;
  color: #3b2523;
}
.prodetail {
  color: #1d1d1d;
}
.prodetail .article {
  line-height: 25px;
}

.proimg ul li {
  float: left;
  display: inline;
  margin-right: 1px;
  width: 270px;
  height: 270px;
  overflow: hidden;
}
.proimg ul li img {
  width: 270px;
}

.sharebox {
  width: 100%;
  height: 40px;
  position: relative;
}
.share {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  /* float: right; */
}
.share a {
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  opacity: 0.7;
}
.share a:hover {
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
}
.sharebox span {
  padding: 0 3px;
}

/* search page */
.search {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.search>div {
    width: 50%;
    padding: 0 10px;
    box-sizing: border-box;
    position: relative;
    padding-bottom: 100px;
    margin-bottom: 30px;
}

.search h5 {
    font-size: 17px;
    margin-bottom: 15px;
    color: #2E1B15;
}

.search-brand .brand_rc ul li {
    width: 50%;
}

.search-news .inewsc dl {
    width: 50%;
    padding: 0 10px;
    box-sizing: border-box;
}

.search-news .inewsc dl dt {
    width: 100%;
}

.search-news .inewsc dl dt a {
    display: block;
    width: 100%;
}

.search-news .inewsc dl dt a img {
    width: 100%;
}

.search-news .inewsc dd {
    padding: 15px 10px;
}

.search-news .inewsc dd h3 a {
    font-size: 15px;
    color: #3b2523;
}

.search .page {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    width: auto;
}

@media screen and (max-width: 1026px) {
  h2.tit1 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 930px) {
    /* .brand_page {
        width: 90%;
    } */
}

@media screen and (max-width: 768px) {
  .ibrandc {
    display: none;
  }
  .ibrandlistc ul li .ibrand_img {
    animation-duration: 10s;
    animation-iteration-count: infinite;
    display: block;
    opacity: 0;
  }
  .ibrandlistc ul li:first-child .ibrand_img {
    animation-name: ibrand_img_1;
  }
  .ibrandlistc ul li:nth-child(2) .ibrand_img {
    animation-name: ibrand_img_2;
  }
  .ibrandlistc ul li:nth-child(3) .ibrand_img {
    animation-name: ibrand_img_3;
  }
  .ibrandlistc ul li:nth-child(4) .ibrand_img {
    animation-name: ibrand_img_4;
  }
  .ibrandlistc ul li:nth-child(5) .ibrand_img {
    animation-name: ibrand_img_5;
  }
  .ibrandlistc ul li:nth-child(6) .ibrand_img {
    animation-name: ibrand_img_6;
  }
  .ibrandlistc ul li:nth-child(7) .ibrand_img {
    animation-name: ibrand_img_7;
  }
  .ibrandlistc ul li:nth-child(8) .ibrand_img {
    animation-name: ibrand_img_8;
  }
  .ibrandlistc ul li:nth-child(9) .ibrand_img {
    animation-name: ibrand_img_9;
  }
  .ibrandlistc ul li:nth-child(10) .ibrand_img {
    animation-name: ibrand_img_10;
  }
  @keyframes ibrand_img_1 {
    0% {
      opacity: 1;
    }
    10% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    60% {
      opacity: 0;
    }
    70% {
      opacity: 0;
    }
    80% {
      opacity: 0;
    }
    90% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes ibrand_img_2 {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    20% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    60% {
      opacity: 0;
    }
    70% {
      opacity: 0;
    }
    80% {
      opacity: 0;
    }
    90% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes ibrand_img_3 {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    30% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    60% {
      opacity: 0;
    }
    70% {
      opacity: 0;
    }
    80% {
      opacity: 0;
    }
    90% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes ibrand_img_4 {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    40% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    60% {
      opacity: 0;
    }
    70% {
      opacity: 0;
    }
    80% {
      opacity: 0;
    }
    90% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes ibrand_img_5 {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    60% {
      opacity: 0;
    }
    70% {
      opacity: 0;
    }
    80% {
      opacity: 0;
    }
    90% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes ibrand_img_6 {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    60% {
      opacity: 0;
    }
    70% {
      opacity: 0;
    }
    80% {
      opacity: 0;
    }
    90% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes ibrand_img_7 {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    60% {
      opacity: 1;
    }
    70% {
      opacity: 0;
    }
    80% {
      opacity: 0;
    }
    90% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes ibrand_img_8 {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    60% {
      opacity: 0;
    }
    70% {
      opacity: 1;
    }
    80% {
      opacity: 0;
    }
    90% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes ibrand_img_9 {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    60% {
      opacity: 0;
    }
    70% {
      opacity: 0;
    }
    80% {
      opacity: 1;
    }
    90% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes ibrand_img_10 {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    60% {
      opacity: 0;
    }
    70% {
      opacity: 0;
    }
    80% {
      opacity: 0;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .aboutimg {
    position: relative;
    height: 0;
    padding-bottom: 60%;
  }
  .aboutimg img {
    height: 100%;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .aboutck dl dt {
    width: 100%;
    margin-bottom: 20px;
  }
  .aboutck dl dd {
    width: 100%;
  }
  .news_l {
    display: none;
  }
  .news_r {
    width: 100%;
  }
  .brand_l {
      display: none;
  }
  .brand_r {
      width: 100%;
  }
  .contact dl .shoptit  {
      width: 100%;
  }
  .contact dl .detail {
      width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .inews dl {
    width: 50%;
  }
  .inews dl:last-child {
    display: block;
  }
}

@media screen and (max-width: 576px) {
    .brand_rc ul li {
        width: 50%;
    }
    .search>div {
        width: 100%;
    }
    .contact dl dt {
        width: 100%;
    }
    .contact dl dd.shopinfo {
        width: 100%;
        padding-left: 0;
        margin-top: 20px;
    }
}

@media screen and (max-width: 414px) {
  .ibrandlistc ul li {
    width: 50%;
    padding-bottom: 37.5%;
  }
  .news_r h3 {
    padding-right: 0;
  }
  .news_r h3 em {
    position: static;
    display: block;
  }
  .newsbtm .newsprev {
    width: 100%;
    margin-bottom: 20px;
  }
  .newsbtm .newsnext {
    width: 100%;
  }
  .resetbtn {
      font-size: 12px;
  }
}
